header{
    display: flex;
    flex-direction: row;
    background-color: #00b294;
  }
  main{
    height: 93.3333vh;
  }
  .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;
      color: snow;
    }
  
    .trigger:hover {
      color: rgb(236, 236, 236);
    }
  
    .logo {
      height: 32px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px;
    }
  .deleteborder{
    border: 0px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 20px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00b294;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #01856f;
  }