<div class="row">
  <div class="column" style="padding-right: 20px">
    <nz-table #studentTable [nzData]="studentDetail" [nzShowPagination]="false">
      <thead>
        <tr>
          <th scope="col">Level Study</th>
          <th scope="col">Groups Gross Amount</th>
          <th scope="col">Sec Gross Amount</th>
          <th scope="col">Student Gross Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of studentTable.data">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Total</td>
          <td>Total</td>
          <td>Total</td>
          <td>Total</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="column">
    <nz-table #usersTable [nzData]="detailsUser" [nzShowPagination]="false">
      <thead>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of usersTable.data">
          <td>{{list.FIRSTNAME}}</td>
          <td>{{list.LASTNAME}}</td>
          <td *ngIf="list.STATUS === 'A'">Admin</td>
          <td *ngIf="list.STATUS === 'S'">Student</td>
          <td *ngIf="list.STATUS === 'T'">Teacher</td>
        </tr>
      </tbody>
    </nz-table><br>
    <nz-table #sectionTable [nzData]="sectionDetail" [nzShowPagination]="false">
      <thead>
        <tr>
          <th scope="col">Faculty</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of sectionTable.data">
          <td>{{list.FACULTY_NAME}}</td>
          <td>{{list.DEPARTMENT_NAME}}</td>
        </tr>
      </tbody>
    </nz-table><br>
  </div>
</div>