<div class="flex-container">
  <div class="flex-item">
    <p>Timetable Management System of Computer Engineering</p>
  </div>
  <div class="menu-profile">
    <nz-dropdown [nzTrigger]="'click'">
      <a nz-dropdown style="line-height: 60px;padding:0 10px;font-size: 14px;color: snow">Welcome&nbsp;{{user.FIRSTNAME}}&nbsp;&nbsp;{{user.LASTNAME}}</a>
      <ul nz-menu>
        <li nz-menu-item>My Profile</li>
        <li nz-menu-item>Edit Profile</li>
        <li nz-menu-item>Change Password</li>
        <li nz-menu-item (click)="logout()">Logout</li>
      </ul>
    </nz-dropdown>
  </div>
</div>