.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
.flex-container{
  display: flex;
  background-color: #00b294;
}
.flex-item{
  flex: 1;
  margin-top: 16px;
}
.text-right{
  text-align: right;
}
.menu-profile{
  transition: .5s;
}
.menu-profile:hover{
  background-color: rgba(0, 0, 0, 0.06)
}
p{
  text-transform:uppercase;
  font-weight:700;
  font-size:20px;
  color: snow;
}
ul li{
  color: #00b294;
}  