tr th{
    text-align: center;
    border-bottom: 1px solid #00b294;
    border-top: 1px solid #00b294;
    font-weight: 500;
}
tr td{
    text-align: center;
    border-bottom: 1px solid #00b294;
}
td i{
    cursor: pointer;
    transition: .5s;
}
td i:hover{
    transform: scale(1.2)
}
h1{
    font-weight: 700;
    color: #00b294;
}